.css-hyum1k-MuiToolbar-root{
    width: 60% !important;
    margin: 0 auto;
}
.css-p7bec2-MuiTypography-root{
color: black !important;
font-size: 20px !important;
font-weight: 400 !important;
    }
.css-1kkpk3h-MuiButtonBase-root-MuiButton-root{
    color: black !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.MuiBox-root .css-d62nh8{
        height: max-content !important;
}

.css-1j3ijuz{
    height: 5vh !important;
}